name: Docker

on:
  workflow_dispatch:
  push:
    branches: [main]

env:
  ALIYUN_REGISTRY: "${{ secrets.ALIYUN_REGISTRY }}"  # 个人命名空间仓库地址
  ALIYUN_NAME_SPACE: "${{ secrets.ALIYUN_NAME_SPACE }}"  # 个人命名空间
  ALIYUN_REGISTRY_USER: "${{ secrets.ALIYUN_REGISTRY_USER }}"  # 个人命名空间用户名
  ALIYUN_REGISTRY_PASSWORD: "${{ secrets.ALIYUN_REGISTRY_PASSWORD }}"  # 个人命名空间密码
  ALIYUN_REGISTRY_CRPI: "${{ secrets.ALIYUN_REGISTRY_CRPI }}"  # 公共命名空间仓库地址
  ALIYUN_NAME_SPACE_PUBLIC: "${{ secrets.ALIYUN_NAME_SPACE_PUBLIC }}"  # 公共命名空间
  ALIYUN_REGISTRY_USER_ALIYUN: "${{ secrets.ALIYUN_REGISTRY_USER_ALIYUN }}"  # 公共命名空间用户名
  ALIYUN_REGISTRY_PASSWORD_DOCKER: "${{ secrets.ALIYUN_REGISTRY_PASSWORD_DOCKER }}"  # 公共命名空间密码

jobs:
  build:
    name: Pull and Push Images
    runs-on: ubuntu-latest

    steps:
    - name: Before freeing up disk space
      run: |
        echo "Before freeing up disk space"
        echo "=============================================================================="
        df -hT
        echo "=============================================================================="

    - name: Maximize build space
      uses: easimon/maximize-build-space@master
      with:
        root-reserve-mb: 2048
        swap-size-mb: 128
        remove-dotnet: 'true'
        remove-haskell: 'true'
        build-mount-path: '/var/lib/docker/'

    - name: Restart docker
      run: sudo service docker restart

    - name: Free up disk space complete
      run: |
        echo "Free up disk space complete"
        echo "=============================================================================="
        df -hT
        echo "=============================================================================="

    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Docker Setup Buildx
      uses: docker/setup-buildx-action@v3

    - name: Login to Aliyun Docker Registry
      run: |
        docker login -u $ALIYUN_REGISTRY_USER -p $ALIYUN_REGISTRY_PASSWORD $ALIYUN_REGISTRY
        docker login -u $ALIYUN_REGISTRY_USER_ALIYUN -p $ALIYUN_REGISTRY_PASSWORD_DOCKER $ALIYUN_REGISTRY_CRPI

    - name: Process and Push Images
      run: |
        # 数据预处理, 判断镜像是否重名
        declare -A duplicate_images
        declare -A temp_map

        while IFS= read -r line || [ -n "$line" ]; do
            [[ -z "$line" ]] && continue
            if echo "$line" | grep -q '^\s*#'; then continue; fi
            
            image=$(echo "$line" | awk '{print $NF}')
            image="${image%%@*}"  # 去掉@sha256等字符
            image_name_tag=$(echo "$image" | awk -F'/' '{print $NF}')
            name_space=$(echo "$image" | awk -F'/' '{if (NF==3) print $2; else if (NF==2) print $1; else print ""}')
            image_name=$(echo "$image_name_tag" | awk -F':' '{print $1}')
            
            name_space="${name_space}_"
            
            # 如果镜像名已存在，则标记为重复
            if [[ -n "${temp_map[$image_name]}" ]]; then
                if [[ "${temp_map[$image_name]}" != $name_space  ]]; then
                    duplicate_images[$image_name]="true"
                fi
            else
                temp_map[$image_name]=$name_space
            fi       
        done < images.txt

        # 推送镜像到阿里云不同命名空间
        while IFS= read -r line || [ -n "$line" ]; do
            [[ -z "$line" ]] && continue
            if echo "$line" | grep -q '^\s*#'; then continue; fi

            echo "docker pull $line"
            docker pull $line

            platform=$(echo "$line" | awk -F'--platform[ =]' '{if (NF>1) print $2}' | awk '{print $1}')
            platform_prefix=""
            if [ -n "$platform" ]; then
                platform_prefix="${platform//\//_}_"
            fi

            image=$(echo "$line" | awk '{print $NF}')
            image_name_tag=$(echo "$image" | awk -F'/' '{print $NF}')
            name_space=$(echo "$image" | awk -F'/' '{if (NF==3) print $2; else if (NF==2) print $1; else print ""}')
            image_name=$(echo "$image_name_tag" | awk -F':' '{print $1}')
        
            name_space_prefix=""
            if [[ -n "${duplicate_images[$image_name]}" ]]; then
                if [[ -n "${name_space}" ]]; then
                    name_space_prefix="${name_space}_"
                fi
            fi

            image_name_tag="${image_name_tag%%@*}"

            # 判断镜像的命名空间推送到不同的仓库
            if [[ "$name_space" == "$ALIYUN_NAME_SPACE_PUBLIC" ]]; then
                new_image="$ALIYUN_REGISTRY_CRPI/$name_space/$platform_prefix$name_space_prefix$image_name_tag"
                echo "docker tag $image $new_image"
                docker tag $image $new_image
                echo "docker push $new_image"
                docker push $new_image
            else
                new_image="$ALIYUN_REGISTRY/$ALIYUN_NAME_SPACE/$platform_prefix$name_space_prefix$image_name_tag"
                echo "docker tag $image $new_image"
                docker tag $image $new_image
                echo "docker push $new_image"
                docker push $new_image
            fi

            echo "开始清理磁盘空间"
            df -hT
            docker rmi $image
            docker rmi $new_image
            echo "磁盘空间清理完毕"
            df -hT
        done < images.txt
